// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";



.a_headercontent{
	font-family: 'Work Sans', sans-serif;
 	text-transform: uppercase;
	font-weight: bold;
	color:black;
	font-size: 2rem;
}
.main-nav{
	height: 80px;
	background-color: black;
}

.main-nav ul{
  	list-style: none;
	display: flex;
	justify-content: space-around;
	align-content: center;
	margin: 0;
	padding: 0;
}

.main-nav li{
	margin-top: 15px;
	background-color: white;
	transition: 1s ease;
}

.main-nav li:hover{
	background-color: black;
	transition: .3s ease;
}

.main-nav ul a{
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 10px;
	padding-right: 10px;
}


    /* votre code ici, pour les écrans de taille < 768 px */
@media (max-width: 768px) {

}




.background{
	background-color: white;
}

.font{
	font-family: 'Work Sans', sans-serif;
	color:black;
}

h3 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2rem;
}

a{
 	font-family: 'Work Sans', sans-serif;
 	text-transform: uppercase;
	font-weight: bold;
	color:black;
	font-size: 2rem;
}

.a_artworktitle{
	font-family: 'Work Sans', sans-serif;
 	text-transform: uppercase;
	font-weight: bold;
	color:black;
	font-size: 1.4rem;
}

.no-gutters {
    margin-right: 0;
    margin-left:0
}

.border_black{
	border-color: black;
	border-style: solid;
	border-width: 2px;
}

.border_righttop{
	border-color: black;
	border-right-style: solid;
	border-top-style:solid;
	border-width: 2px;
}

.border_bottom{
	border-color: black;
	border-bottom-style:solid;
	border-width: 2px;
}

.border_top{
	border-color: black;
	border-top-style:solid;
	border-width: 2px;
}

.border_left{
	border-color: black;
	border-left-style:solid;
	border-width: 2px;
}

.border_right{
	border-color: black;
	border-right-style:solid;
	border-width: 2px;
}

.row1_artwork{
	height: 200px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.row1_show{
	height: 302px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.row1_artist{
	height: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.row1_exhib{
	height: 450px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


.title{
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
}

.artist{
	font-size: 1.2rem;
}

.exhib {
	font-size: 1rem;
	font-weight: regular;
	text-transform: none;
}

.image{
	background-color: black;
	background-size: cover;
	background-position: center;
	height: 198px;
}

.image:hover{
	opacity: 0.8;
	transition: .3s ease;
}

.change_backcolor:hover{
	background-color: #BDBDBD;
	transition: .3s ease;
}

.change_textcolor:hover{
	color:white;
	text-decoration:none;
	transition: .1s ease;
}